@import-normalize; /*bring in normalize.css styles */

html {
  /*   margin-left: 10px;
  margin-top: 10px; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}
